* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: #333;
}

html {
    scroll-behavior: smooth;
}

/* Bagian sidebar*/
#sidebar {}

/* header */
header {
    height: 80px;
}

header label {
    margin: 10px;
}

header h1 {
    margin: 10px;
    display: inline-block;
    text-transform: uppercase;
}

header #buttonside {
    padding-bottom: 21px;
    border-bottom: 10px;
}

header h1 a {
    margin-bottom: 10px;
    color: #333;
}

header ul li a {
    color: #333;
}

a {
    text-decoration: none;
}


/* container */
.container {
    width: 90%;
    margin: 0 auto;
}

.container :after {
    content: '';
    display: block;
    clear: both;
}

/* Banner */
.banner {
    background-color: #1f68b6;
    padding: 135px 0;
}

section {
    padding: 40px 0;
}

.banner img {
    width: 100px;
    border-radius: 10px;
    box-shadow: 0 3px 5px #ddd;
    margin-bottom: 10px;

}

.banner h2,
.banner p,
.banner span {
    color: #fff;
}

.banner h2 {
    margin-bottom: 10px;
}

.banner p {
    font-size: 18px;
}

.banner-left {
    padding-left: 24px;
}

.banner-bottom {
    padding-top: 40px;
    margin-bottom: -30px;
    height: 10px;
    text-align: center;
    margin-top: 40px;
}

.banner-bottom a i {
    color: #fff;
}

/* bagian Content */
.was-validated {
    padding: 15px;
    margin-bottom: 15px;
    background-color: #d1e7dd;
}

table tr th,
td {
    color: #333;
}

.tabel {
    padding-top: 55px;
}

#content p {
    text-align: justify;
    text-indent: 30px;
    line-height: 25px;
    margin-bottom: 15px;
}

section h3 {
    padding-bottom: 20px;
    text-align: center;
    margin: 20px;
    position: relative;
}

section h3::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 1px;
    background-color: #ddd;
    left: calc(50% - 60px);
}

section h3::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    width: 40px;
    height: 4px;
    background-color: #F84744;
    left: calc(50% - 20px);
}

/* tombol css style */
.was-validated #button {
    margin-top: 20px;
    width: auto;
}

#button span {
    width: 120px;
}

#button #textbox {
    width: 120px;
}

#tombol {
    margin-top: 20px;
    text-align: center;
}

#tombol button {
    text-decoration: none;
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #6bcfc7;
}

/* bagian Footer*/
footer {
    width: 100%;
    display: inline-block;
    background-color: #333;
    padding: 50px;
    text-align: center;
}

footer small {
    color: #fff;
}

/* bagian Footer*/
footer {
    width: 100%;
    display: inline-block;
    background-color: #333;
    padding: 50px;
    text-align: center;
}

footer small {
    color: #fff;
}